{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}


<h3>Данный сайт посвящен исследованию способов выражения одушевленного участника при предикативах.</h3>
<h5 style="color: gray" > Предикативы — это единицы, по форме совпадающие с наречием или кратким прилагательным среднего рода, но синтаксически занимающие позицию предиката (мне уютно). Способы выражения одушевленного участника, исследуемые в данной анкете:
        <ul>
    <li style="color: gray">дательный падеж (мне интересно);</li>
    <li style="color: gray">группы с предлогом для (для меня странно).</li>
        </ul></h5>
<h5>Выбранный способ выражения одушевленного участника часто зависит от контекста. Разнообразные контексты и предлагается оценить участникам опроса.</h5>
<h5>Сбор данных осуществляется с помощью анкеты, находящейся вверху страницы. После прохождения можно ознакомиться со статистикой, а также оставить отзыв.</h5>
{% endblock %}